<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyLibrary</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'uix/main.css' %}" />
</head>
<header>
    <label><a id="username-a" href="/profile" target="_blank">{{ username }}</a></label>
    <label><a id="books-a" href="/my-books" target="_blank">MyBooks</a></label>
    <label><a id="logout-a" href="/logout">Logout</a></label>
</header>
<body>
    <div id="wrapper">
        <div id="search-wrapper">
            <label id="search-label">Please enter book name!</label>
            <input id="search-input" name="search" type="text" placeholder="Book name"/>
            <button id="search-button" type="submit" value="search">Search</button>
        </div>
    </div>
</body>
</html>