body {
background-color: white;
}

#wrapper {
display: grid;

justify-items: center;
align-items: center;

justify-content: center;
align-content: center;

grid-template-areas:"logo"
                    "message"
                    "login-form";
grid-template-columns: 60%;
grid-template-rows: 30% 5% 65%;
}

#logo {
grid-area: logo;
}

#message {
color: #bec2c3;

grid-area: message;
}

#login-form {
grid-area: login-form;


display: grid;

justify-items: center;
align-items: center;

justify-content: center;
align-content: center;

grid-template-areas:"email-label"
                    "email-input"
                    "password-label"
                    "password-input"
                    "submit-button"
                    "registration-button";
grid-template-columns: 60%;
grid-template-rows: 20% 20% 20% 20% 10% 10%;
}

#email-label {
color: #78bcc5;

grid-area: email-label;
}

#email-input {
text-align: center;
margin: 10px;

grid-area: email-input;
}

#password-label {
color: #d87b3e;

grid-area: password-label;
}

#password-input {
text-align: center;
margin: 10px;

grid-area: password-input;
}

#submit-button {
margin: 10px;
padding: 7px 20px;
background-color: white;
color: black;
border: 2px solid #a74341;
border-radius: 30%;

transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;

grid-area: submit-button;
}

#submit-button:hover {
background-color: #a74341;
color: white;
}

#registration-button {
margin: 10px;
padding: 7px 20px;
background-color: white;
color: black;
border: 2px solid #78bcc5;
border-radius: 30%;

transition-duration: 0.4s;
-webkit-transition-duration: 0.4s;

grid-area: registration-button;
}

#registration-button:hover {
background-color: #78bcc5;
color: white;
}
