body {
background-color: white;
}

#main-a {
color: #a74341;
text-decoration: none;
}

#books-a {
color: #a74341;
text-decoration: none;
}

#logout-a {
color: red;
text-decoration: none;
}

#wrapper {
display: grid;

justify-items: center;
align-items: center;

justify-content: center;
align-content: center;

grid-template-areas:"profile-wrapper";
grid-template-columns: 65%;
grid-template-rows: 65%;
}

#profile-wrapper {
background-color: white;
border: 2px solid #78bcc5;
border-radius: 30%;
margin: 30%;

grid-area: profile-wrapper;

display: grid;

justify-items: center;
align-items: center;

justify-content: center;
align-content: center;

grid-template-areas:"username-label"
                    "email-label";
grid-template-columns: 100%;
grid-template-rows: 20% 20%;
}

#username-label {
color: #d87b3e;
margin: 10px;

grid-area: username-label;
}

#email-label {
color: #a74341;
margin: 10px;

grid-area: email-label;
}